.map-title {
  color: #3e3e3e;
  font-family: "Condensed";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.map {
  padding-top: 170px;
  padding-bottom: 179px;
  background-image: url(../image/good.webp), url(../image/hapy.webp),
    url(../image/red-cartoon.png), url(../image/map.webp),
    url(../image/ellipse.webp), url(../image/cloud-1.webp),
    url(../image/cloud-copy.webp), url(../image/cloud-biger.webp);
  background-repeat: no-repeat;
  background-position-y: 544px, 23px, 586px, 0px, 20px, 400px, 120px, 727px;
  background-position-x: 763px, 29px, 762px, 815px, 714px, 0px, 775px, 140px;
}

.map-list {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}

.map-insert {
  width: 557px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  display: block;
  color: black;
  padding-left: 46px;
}

.map-insert-big {
  width: 557px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  font-family: "Roboto";
  color: black;
  padding-bottom: 126px;
  padding-left: 46px;
}

.map-buton {
  color: #fff;
  font-family: "Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-right: 52px;
  padding-left: 52px;
  width: 218px;
  height: 73px;
  border-radius: 500px;
  background: #fad34f;
  margin-top: 23px;
  border: none;
}

/* foter */

.footer {
  border-top: 1px solid #d8d8d8;
  background-color: #fafafa;
  padding-top: 170px;
  padding-bottom: 170px;
}

.footer-icon {
  height: 16px;
  width: 16px;
  fill: #696969;
}

.footer-list {
  display: flex;
  gap: 20px;
  padding-left: 365px;
}
